@{
    ViewBag._Title = "About";
}
<h2>@ViewBag._Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<p><h2>درباره ما</h2></p>
<p>
    مجله ویدئویی mizban tv با نگاهی نوین در حوزه صنعت بزرگ و گسترده میزبانی کشور به دنبال ایجاد مسیری نوین به منظور نمایش هنر این صنعت در قالب ویدئو با رویکردی کاملا تخصصی می باشد .
</p>
<p>
    در این مسیر خواهیم کوشید با استفاده از تمامی ابزارهای لازم و ظرفیت های موجود ،به تحقق اهداف از پیش تعیین شده و ایجاد فضایی کاملا متفاوت جهت معرفی متقابل میهمان و میزبان در چارچوب قواعد و اصول حرفه ای و تخصصی صنعت میزبانی کشور جامعه عمل بپوشانیم .
</p>
<p>
    با ما در این مسیر و برای خلق اتفاقی کم نظیر همراه باشید .
</p>