@model MizbanTV.Models.HomeIndexViewModel
@{
    ViewBag._Title = "صفحه اصلی";
}
@section header{
    <div id="gallery" style="display:none;">
        @foreach (var thumbnail in Model.NewVideos)
        {
            Html.RenderPartial("_ViewUniteGalleryPartial", thumbnail);
        }
    </div>
}
@{
    Html.RenderPartial("_ViewCategoryCarouselPartial", new MizbanTV.Models.ViewCategoriesViewModel()
    {
        Category = new MizbanTV.Entities.Category()
        {
            Name = "داغ ترین ویدیو ها"
        },
        Videos = Model.HotVideos,
        IdNumber = 0,
        IsHotVideos = true,
        BackgroundImage = "~/Content/Categories/Hot.jpg"
    });

    for (int i = 0; i < Model.Categories.Count; i++)
    {
        Html.RenderPartial("_ViewAdvertisePartial", Model.Advertises[i]);
        Html.RenderPartial("_ViewCategoryCarouselPartial", Model.Categories[i]);
    }
}



@section scripts
{
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery("#gallery").unitegallery({
                gallery_theme: "tiles",
                tiles_type: "justified",
                tiles_justified_space_between: 0,
                tile_textpanel_bg_color: "#3A85E0",
                tile_textpanel_bg_opacity: 0.8,
                tile_textpanel_title_color: "yellow",
                tile_textpanel_title_text_align: "center",
                tile_textpanel_source: "desc_title",
                tile_as_link: true,
                tile_enable_textpanel: true,
                tiles_enable_transition: true,
                tile_enable_image_effect: true,
                tile_image_effect_reverse: true,
                tiles_justified_row_height: 250,
                tile_enable_border: true,
                tile_border_color: "#ffffff",
                tile_enable_outline: true,
                theme_gallery_padding: 15,
            });
            $('.category').each(function (i, obj) {
                $(this).unitegallery({
                    tile_width: 300,
                    tile_height: 200,
                    gallery_theme: "carousel",
                    tile_enable_textpanel: true,
                    tile_textpanel_bg_opacity: 0.8,
                    tile_textpanel_title_text_align: "center",
                    tile_as_link: true,
                    tiles_enable_transition: true,
                    tile_textpanel_offset: 0,
                    carousel_autoplay_direction: "left",
                    tile_textpanel_always_on: true,
                    carousel_autoplay: false,
                    tile_enable_overlay: false,
                    tile_enable_icons: false,
                });
            });
        });
    </script>
}