@model MizbanTV.Models.ViewCategoriesViewModel

<div class="parallax">
    <div>
        <h2>
            <a href="@("/Categories/View/"+Model.Category.ID)">@Model.Category.Name</a>
        </h2>
        <div>
            <div id="category-@Model.IdNumber" class="category">
                @foreach (var thumbnail in Model.Videos)
                {
                    Html.RenderPartial("_ViewUniteGalleryPartial", thumbnail);
                }
            </div>
        </div>
    </div>
</div>

