@model MizbanTV.Models.ViewCategoriesViewModel



<div style="text-align:center;padding:10px;background-color: #cacaca;">
    <a style="width:100%; height:100%; display:inline-block; overflow:hidden" href="@Model.AdvertiseLink"><img src="@Url.Content(Model.AdvertiseFileName)" height="100" /></a>
</div>
<div class="parallax">
    <div>
        <h2>
            <a href="@("/Categories/View/"+Model.Category.ID)">@Model.Category.Name</a>
        </h2>
        <div>
            <div id="category-@Model.IdNumber" class="category">
                @foreach (var thumbnail in Model.Videos)
                {
                    Html.RenderPartial("_ViewUniteGalleryPartial", thumbnail);
                }
            </div>
        </div>
    </div>
</div>

